header {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .topbar {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), #0080ff;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), #0080ff;
  color: #ffffff;
  font-size: 1em;
}

header .topbar .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.3em;
}

header .topbar .wrapper .left {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .topbar .wrapper .left i {
  margin-left: 0.5em;
}

header .topbar .wrapper .left .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .topbar .wrapper .right {
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .topbar .wrapper .right i {
  margin: 0 0.2em 0 1.5em;
}

header nav {
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header nav .wrapper {
  padding: 0;
}

header nav .wrapper .navbar-brand h1 {
  font-weight: 900;
}

header nav .wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .wrapper ul li {
  cursor: pointer;
}

header nav .wrapper ul li a {
  color: #000000;
}

header nav .wrapper ul li a i {
  font-size: 0.7em;
}

header .banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

header .banner .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .banner .wrapper .content {
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
  line-height: 4em;
}

header .banner .wrapper .content p {
  font-size: 2em;
  font-weight: 600;
}

header .banner .wrapper .content h1 {
  font-weight: 900;
}

header .banner .wrapper .content .button {
  margin-top: 2em;
}

header .banner .wrapper .content .button .btn {
  border-radius: 0.3em;
  margin-right: 0.8em;
  padding: 0.2em 0.6em;
}

header .banner .wrapper .image {
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .banner .wrapper .image img {
  width: 100%;
  max-width: 20em;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features .wrapper .content {
  display: -ms-grid;
  display: grid;
  grid-gap: 3em;
  place-items: center;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.features .wrapper .feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features .wrapper .feature p {
  font-weight: 800;
  margin-bottom: 2em;
}

.features .wrapper .feature img {
  width: 100%;
  max-width: 13em;
}

.news .content {
  display: -ms-grid;
  display: grid;
  grid-gap: 3em;
  place-items: center;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.news .content .news-card {
  -webkit-filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.25));
  border-radius: 16px;
}

.news .content .news-card img {
  border-radius: 16px 16px 0 0;
}

.news .content .news-card h5 {
  font-size: 1em;
}

.news .content .news-card p {
  font-size: 0.6em;
  color: #848c96;
}

.comment .wrapper .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), #0080ff;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), #0080ff;
  padding: 2em 0;
  margin-top: 3em;
  color: #ffffff;
}

footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .wrapper .left {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
}

footer .wrapper .left .form {
  padding: 2em 2em 4em 2em;
}

footer .wrapper .right {
  -webkit-box-flex: 7;
      -ms-flex: 7;
          flex: 7;
}

footer .wrapper .right-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

footer .wrapper .right-content ul {
  list-style: none;
}

footer .wrapper .right-content ul p {
  font-weight: 800;
  font-size: 1.2em;
}

footer .wrapper .right-content ul li a {
  color: #ffffff;
  font-size: 0.8em;
}
/*# sourceMappingURL=home.css.map */